@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(17, 102, 50);
  --primary-color-darker: rgb(15, 56, 9);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

form input, form label, form input[type=submit] {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form input[type=submit]  {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form input[type=submit] :hover {
  background: var(--primary-color-darker);
}

table{
  text-align: left;
}

.color-red {
  background-color:hotpink;
}
.color-orange{
  background-color: orange;
}
.color-orangered{
  background-color: orangered;
}
.color-coral{
  background-color: coral;
}
.color-green{
  background-color: greenyellow;
}


button {
  background-color:#e7e7e7;
  border:solid 1px;
  color: #04AA6D;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
}

.play:hover{
  background-color: #04AA6D;
  color: #e7e7e7;
}

